#Introducción a Libreria Pandas

**Contexto: Se va a analizar un archivo csv que contiene el rating que obtuvieron algunas películas por parte de algunas webs de reseñas**

In [0]:
import pandas as pd
import numpy as np

####1- Importe el archivo "movie_ratings.csv" y visualice las 5 primeros filas

#### 2- Como podrá notar en la data existe una columna que no es necesaria para nuestro análisis (Unnamed: 0) Eliminela y compruebe que se eliminó correctamente

####3- En todo el Dataset existen valores duplicados, ejecutaremos la línea a continuación para demostrarlo:

In [0]:
#El nombre de su DataFrame en lugar de df_1
df_1[df_1['movie']=='Gladiator']

####4- Ejecutaremos la siguiente función para eliminar los valores duplicados:

In [0]:
df_1 = df_1.drop_duplicates()

In [0]:
#Comprobamos que se eliminaron los valores duplicados
df_1[df_1['movie']=='Gladiator']

**Ahora con la data preparada, se le pide desarrollar:**

**Tip: En este dataset los números no trabajan como texto (string) así que se trabajan como tal, sin comillas**

####5- Halle el número de peliculas con rating 'imdb' mayor a 8.0

####6- ¿Cúantas películas se estrenaron en el 2010?

####7- Muestre las películas se estrenaron en el 2000 y tienen un rating de metascore mayor a 70.0

####8- Halle el mayor número de votos (Utilice la función .max( ))

####9- Ahora con el mayor número de votos hallado, muestre la película con ese número de votos

####10- Muestre las peliculas que tienen el rating mayor de 'imdb' o 'metascore'