<a href="https://colab.research.google.com/github/jons255-p/Python_Machi_Learning_Sta_Anita/blob/master/clase_3_Introducci%C3%B3n%20a%20Pandas/Tarea_Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducción a Libreria Pandas

**Contexto: Se va a analizar un archivo csv que contiene el rating que obtuvieron algunas películas por parte de algunas webs de reseñas**

In [0]:
import pandas as pd
import numpy as np

####1- Importe el archivo "movie_ratings.csv" y visualice las 5 primeros filas

In [0]:
df_1 = pd.read_csv("movie_ratings.csv")
df_1.head(5)

   Unnamed: 0                movie  year  imdb  metascore    votes
0           0            Gladiator  2000   8.5       67.0  1187559
1           1              Memento  2000   8.5       80.0  1014199
2           2               Snatch  2000   8.3        NaN   707162
3           3  Requiem for a Dream  2000   8.3       68.0   688394
4           4                X-Men  2000   7.4       64.0   526411

#### 2- Como podrá notar en la data existe una columna que no es necesaria para nuestro análisis (Unnamed: 0) Eliminela y compruebe que se eliminó correctamente

In [0]:
del df_1["Unnamed: 0"]

In [0]:
df_1.head()

                 movie  year  imdb  metascore    votes
0            Gladiator  2000   8.5       67.0  1187559
1              Memento  2000   8.5       80.0  1014199
2               Snatch  2000   8.3        NaN   707162
3  Requiem for a Dream  2000   8.3       68.0   688394
4                X-Men  2000   7.4       64.0   526411

####3- En todo el Dataset existen valores duplicados, ejecutaremos la línea a continuación para demostrarlo:

In [0]:
#El nombre de su DataFrame en lugar de df_1
df_1[df_1['movie']=='Gladiator']

        movie  year  imdb  metascore    votes
0   Gladiator  2000   8.5       67.0  1187559
50  Gladiator  2000   8.5       67.0  1187559

####4- Ejecutaremos la siguiente función para eliminar los valores duplicados:

In [0]:
df_1 = df_1.drop_duplicates()

In [0]:
#Comprobamos que se eliminaron los valores duplicados
df_1[df_1['movie']=='Gladiator']

       movie  year  imdb  metascore    votes
0  Gladiator  2000   8.5       67.0  1187559

**Ahora con la data preparada, se le pide desarrollar:**

**Tip: En este dataset los números no trabajan como texto (string) así que se trabajan como tal, sin comillas**

####5- Halle el número de peliculas con rating 'imdb' mayor a 8.0

In [0]:
df_1[df_1["imdb"]>8.0]

                    movie  year  imdb  metascore    votes
0               Gladiator  2000   8.5       67.0  1187559
1                 Memento  2000   8.5       80.0  1014199
2                  Snatch  2000   8.3        NaN   707162
3     Requiem for a Dream  2000   8.3       68.0   688394
20          Amores perros  2000   8.1       83.0   204468
...                   ...   ...   ...        ...      ...
1715                 Coco  2017   8.4       81.0   256973
1738         The Punisher  2017   8.6        NaN   135366
1744     La casa de papel  2017   8.6        NaN   114840
1746           Mindhunter  2017   8.5        NaN   111213
1748  The Handmaid's Tale  2017   8.6        NaN   106329

[133 rows x 5 columns]

In [0]:
df_1[df_1["imdb"]>8.0].shape[0]

133

####6- ¿Cúantas películas se estrenaron en el 2010?

In [0]:
df_1[df_1["year"]==2010]

                                                  movie  ...    votes
1000                                          Inception  ...  1799695
1001                                     Shutter Island  ...   983982
1002                                   The Walking Dead  ...   771362
1003                                           Sherlock  ...   684885
1004                                        Toy Story 3  ...   667157
1005                                         Black Swan  ...   638580
1006                                         Iron Man 2  ...   633681
1007                           How to Train Your Dragon  ...   595638
1008                                  The King's Speech  ...   584869
1009                                 The Social Network  ...   560871
1010                                           Kick-Ass  ...   491089
1011                                      Despicable Me  ...   456440
1012       Harry Potter and the Deathly Hallows: Part 1  ...   415351
1013                                            Tangled  ...   358425
1014                                Alice in Wonderland  ...   353451
1015                        Scott Pilgrim vs. the World  ...   331928
1016                                             Easy A  ...   324718
1017                                          127 Hours  ...   319032
1018                                           The Town  ...   318372
1019                                        The Fighter  ...   312613
1020                                    The Expendables  ...   304315
1021                                           Due Date  ...   300267
1022                                               Tron  ...   292660
1023                                          True Grit  ...   279638
1024                                               Salt  ...   274457
1025                                                RED  ...   268487
1026                                    The Book of Eli  ...   267072
1027                                Clash of the Titans  ...   253262
1028                Prince of Persia: The Sands of Time  ...   251286
1029                                          Insidious  ...   249062
1030                                         Robin Hood  ...   236953
1031                                         The A-Team  ...   233044
1032                                     The Other Guys  ...   218263
1033                         The Twilight Saga: Eclipse  ...   208612
1034                                          Grown Ups  ...   207311
1035                                        The Tourist  ...   204038
1036                                           Megamind  ...   203939
1037                          Spartacus: Blood and Sand  ...   201831
1038                                          Predators  ...   197026
1039                                            Machete  ...   180656
1040                                        Unstoppable  ...   170865
1041                                     Knight and Day  ...   168068
1042                                     Blue Valentine  ...   167676
1043                                The Next Three Days  ...   165338
1044                                 Love & Other Drugs  ...   165204
1045                                Shrek Forever After  ...   163980
1046  Percy Jackson & the Olympians: The Lightning T...  ...   162846
1047                               Get Him to the Greek  ...   160290
1048                                   Boardwalk Empire  ...   157334
1049                               Hot Tub Time Machine  ...   152544

[50 rows x 5 columns]

In [0]:
df_1[df_1["year"]==2010].shape[0]

50

####7- Muestre las películas se estrenaron en el 2000 y tienen un rating de metascore mayor a 70.0

In [0]:
df_1[(df_1["year"]==2000) &
      (df_1["metascore"]>70.0)]

               movie  year  imdb  metascore    votes
1            Memento  2000   8.5       80.0  1014199
5          Cast Away  2000   7.8       73.0   465125
8   Meet the Parents  2000   7.0       73.0   290126
12   Wo hu cang long  2000   7.9       93.0   237498
14     Almost Famous  2000   7.9       90.0   232474
20     Amores perros  2000   8.1       83.0   204468
21           Traffic  2000   7.6       86.0   184710
27       Chicken Run  2000   7.0       88.0   161403
29   Batoru rowaiaru  2000   7.7       81.0   157589
30     High Fidelity  2000   7.5       79.0   157024
32   Erin Brockovich  2000   7.3       73.0   156488
38      Billy Elliot  2000   7.7       74.0   112664
39     Shanghai Noon  2000   6.6       77.0   110410
44  Faa yeung nin wa  2000   8.1       85.0   103042

####8- Halle el mayor número de votos (Utilice la función .max( ))

In [0]:
df_1["votes"].max()

2020298

####9- Ahora con el mayor número de votos hallado, muestre la película con ese número de votos

In [0]:
df_1[df_1["votes"]==2020298]

               movie  year  imdb  metascore    votes
800  The Dark Knight  2008   9.0       84.0  2020298

In [0]:
df_1[df_1["votes"]==df_1["votes"].max()]

               movie  year  imdb  metascore    votes
800  The Dark Knight  2008   9.0       84.0  2020298

10- Muestre las peliculas que tienen el rating mayor de 'imdb' o 'metascore'

In [0]:
df_1[(df_1["imdb"]==df_1["imdb"].max()) |
      (df_1["metascore"]==df_1["metascore"].max())]

                 movie  year  imdb  metascore   votes
1428           Boyhood  2014   7.9      100.0  312102
1640   Game of Thrones  2011   9.9        NaN  158728