##Beer Consumption - Sao Paulo

Beer is one of the most democratic and consumed drinks in the world. Not without reason, it is perfect for almost every situation, from happy hour to large wedding parties. If you just think about it, you already feel like having a beer, you’re not alone.

The objective of this work will be to demonstrate the impacts of variables on beer consumption in a given region and the consumption forecast for certain scenarios. The data (sample) were collected in São Paulo — Brazil, in a university area, where there are some parties with groups of students from 18 to 28 years of age (average).

###Importar Data

In [0]:
import pandas as pd

In [65]:
df = pd.read_csv("Consumo_cerveja(2).csv",decimal=',')
df.head()

         Data  ...  Consumo de cerveja (litros)
0  2015-01-01  ...                       25.461
1  2015-01-02  ...                       28.972
2  2015-01-03  ...                       30.814
3  2015-01-04  ...                       29.799
4  2015-01-05  ...                       28.900

[5 rows x 7 columns]

In [0]:
df = df.dropna()

In [0]:
df['Consumo de cerveja (litros)']=df['Consumo de cerveja (litros)'].astype(float)

In [0]:
X = df.drop(["Consumo de cerveja (litros)","Data"],axis=1)
y = df['Consumo de cerveja (litros)']