#Titanic Dataset

La tarea de esta semana consiste en preprocesar el dataset del Titanic, puede consultar la imagen "Diccionario de datos" para mayor detalle sobre los atributos utilizados

In [0]:
import pandas as pd
import numpy as np

###1. Importar el archivo "titanic-data.csv" con la librería pandas y mostrar los 5 primeros datos

###2. Revise cuantos datos faltantes existen en el dataset

In [0]:
#Funcion .isnull( )

###3. Completando las edades faltantes:

####3a. Los datos de la columna "Age" que no contienen datos los completaremos con -0.5

In [0]:
#Funcion .fillna( )

####3b. Clasificaremos las edades en los siguientes intervalos:

Unknown: -1 - 0

Baby: 0 - 5

Child: 5 - 12

Teenager: 12 - 18

Student: 18 - 25

Young Adult: 25 - 35

Adult: 35 - 60

Senior: 60 - 120

####3c. Eliminamos la columna "Age", los datos ya no son necesarios

###4. Simplificando las tarifas (Fare):

####4a. Al no contar con una clasificación determinada para la columna "Fare", utilizaremos los intervalos que nos proporciona los cuartiles. ¿Cúales son esos intervalos?

####4b. Ahora que tenemos los intervalos, clasificaremos la data "Fare", utilice nombres a su criterio

####4c. La columna "Fare" ya no es necesaria

###5. Dando formato a "Name"

####5a. En la columna "Name" solo es necesario el apellido y el prefijo que acompaña el nombre (Mr.)

Ejecutaremos el siguiente código para crear nuevas columnas con esa información:

In [0]:
#Reemplazar "data" por el nombre de su dataset
apellido = data['Name'].apply(lambda x: x.split(',')[0])
data['Lname'] = apellido

.apply( ) -> Función de Pandas que ejecuta una función por cada elemento, en este caso por cada elemento de la columna "Name"

lambda -> Crea una función de una línea con la variable x

x.split('  ') -> Corta un texto con el caracter entre paréntesis

Ejecutando el código en una linea:

[Braund,  Mr. Owen Harris]

Se crea una lista, se selecciona lo que queremos en este caso el apellido se encuentra en la primera posición, por ese motivo colocamos [0]

In [0]:
nombre = data['Name'].apply(lambda x: x.split(',')[1])
titulo = nombre.apply(lambda x: x.split('.')[0])
data['NamePrefix'] = titulo

In [0]:
data['NamePrefix'].value_counts()

####5b. La columna "Name" ya no es necesaria

###6. Completando datos faltantes en "Embarked"

Como hemos visto al comienzo del cuaderno, son 2 los datos faltantes en la columna "Embarked", como son letras no podemos llenarlo con la media, para eso completaremos estos datos con la letra que tenga mayor número de datos

####6a. Halle la letra que tiene más valores en la columna "Embarked"

####6b. Complete los datos faltantes con la letra hallada en la pregunta anterior

###7. ¿Deberian considerarse todos los campos del dataset para analizar la información posteriormente? Justifique

####8. Según lo respondido en la pregunta anterior: Elimine las columnas de los datos que no serán relevantes para nuestro análisis

**Con esto nuestra data estaría limpia y lista para el análisis**

#Ejercicios

###¿Cuántas hombres y mujeres hay?

###¿Cuántas personas de la clase 1 sobrevivieron?

###¿Cúal es la familia más numerosa que abordó el titanic?

###¿Cúantos Child de la clase 3 sobrevivieron?

###¿Cúal es el cuartil de Tarifa que tuvo más sobrevivientes?